{% include 'header.html' %}

<div style="text-align: center; padding: 20px;">
    <h1 style="color: #2E86C1; font-weight: bold; font-size: 2.5em;">BIENVENIDOS A MI ALMACEN DE PRODUCTOS RODRIGO JOEL</h1>
    <br>
    <h1 style="color: #2874A6; font-weight: bold; font-size: 2em; text-transform: uppercase; letter-spacing: 2px;">ALMACEN DE PRODUCTOS Y BIBERES</h1>
    <p style="color: #555555; font-size: 1.2em; margin-top: 10px;">
        Aquí podrás organizar todo de manera rapida , sensilla y encima varatito.
    </p>
</div>


{% include 'footer.html' %}
